body {
  position: relative;
  background-color: #fff596;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

/*femaleスライドインのcss*/
.anim-slidein {
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*maleスライドインのcss*/
.revers_anim-slidein {
  animation: slideInR 1s;
}

@keyframes slideInR {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}



/* 差分は文字色のみ */
.ten {
  color: #00a0e9;
}

.ryu {
  color: #f39800;
}

.sai {
  color: #eb6ea5;
}

.fuchidori {
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
  display: inline;
}

.place1 {
  font-size: 80px;
  /* 文字サイズ指定 */
  line-height: 0px;
}

.place2 {
  font-size: 60px;
  /* 文字サイズ指定 */
  line-height: 10px;

}

.place3 {
  font-size: 40px;
  /* 文字サイズ指定 */
  line-height: 0px;
}



video {
  width: 100%;
  /* 動画をレスポンシブ化 */
  max-width: 800px;
  /* 動画の最大幅 */
}
